body {
			min-width: 1037px;
		}
		#div0 {
			background-color: #FCFCFC;
			width: 100%;
		}
		#ssdiv {
			width: 100%;
			height: 35px;
			overflow: hidden;
		}
		.la {
			float: left;
			margin-left: 10px;
			display: block;
			padding: 0 10px;
			margin-top: 13px;
			text-decoration: none;
		}
		a.la:hover {
			color: red;
			text-decoration: underline
		}
		.ss {
			width: 231px;
			height: 27px;
			padding: 0px;
			float: right;
			border-color: #FFA042;
			margin-top: 4px;
			border-radius: 9px;
			webkit-border-radius: 9px;
			moz-border-radius: 9;
		}
		fieldset.ss:hover {
			border-color: #FF0000
		}
		.txt {
			width: 200px;
			height: 25px;
			margin: 1px;
			float: left;
			border: 0;
			outline: none
		}
		.btn {
			width: 27px;
			height: 27px;
			margin: 1px;
			margin-left: 0;
			background: url("../img/ss.png");
			border: 0;
		}
		#div1 {
			width: 100%;
			height: 120px;
			margin-top: 0px;
			background-color: white;
		}
		.img1_1 {
			width: 300px;
			height: 100px;
			margin: -15px 10%
		}
		#div2 {
			width: 100%;
			height: 50px;
			background: #FF2D2D;
			border: 1px solid white;
			margin: 1px;
			overflow: hidden
		}
		.ui {
			margin: 4px auto;
			padding: 0px;
			width: 900px;
			list-style-type: none;
		}
		li {
			float: left;
		}
		.a2 {
			display: block;
			padding: 12px;
			float: left;
			background-color: #FF2D2D;
			color: white;
			font-family: 黑体;
			text-decoration: none;
			border-left: 1px dashed white;
		}
		a.a2:hover {
			background-Color: #FF5151;
		}
		#body {
			height: 2600px;
			width: 100%;
		}
		#div3 {
			width: 1000px;
			height: 400px;
			margin: 20px auto;
		}
		.img3_1 {
			position: absolute;
			width: 1000px;
			height: 400px;
			border-radius: 4px;
			webkit-border-radius: 4px;
		}
		#div4 {
			width: 1000px;
			height: 220px;
			margin: 30px auto;
		}
		.div4_1 {
			width: 330px;
			height: 220px;
			float: left;
		}
		.div4_2 {
			width: 330px;
			height: 220px;
			float: left;
			margin-left: 5px
		}
		.div4_3 {
			width: 330px;
			height: 220px;
			float: right;
			float: right;
		}
		.a4 {
			display: block;
			margin: 1px;
			background: #FF5809;
			padding: 5px;
			padding-left: 130px;
			color: white;
			font-size: 15pt;
			font-weight: bold;
			border-radius: 4px;
			webkit-border-radius: 4px;
		}
		.img4_1 {
			width: 330px;
			height: 180px;
			margin: 1px;
			border-radius: 8px;
			webkit-border-radius: 8px;
		}
		#div7 {
			width: 1000px;
			height: 1850px;
			margin: 0 auto;
			background-color: #FFFFB9;
			border-radius: 5px;
			webkit-border-radius: 5px;
		}
		.div7_0 {
			height: 1820px;
			width: 780px;
			float: left;
			margin: 10px
		}
		.p7 {
			display: block;
			p;
			adding: 20px;
		}
		.p7_1 {
			margin: 10px;
		}
		.img7_1 {
			width: 500px;
			height: 310px;
			margin: 10px;
			float: left;
			border-radius: 4px;
			webkit-border-radius: 4px;
		}
		.p7_2 {
			margin: 10px;
		}
		.div7_1 {
			border-right: 1px dashed #FF5809;
			width: 750px;
			height: 380px;
			margin: 40px 20px;
		}
		.div7_2 {
			width: 210px;
			margin-left: 790px;
			height: 1830px;
			margin-top: 10px;
			border: 1px solid #FFFFB9;
		}
		.atop {
			display: block;
			padding: 20px 30px;
			background-color: #FF5809;
			width: 80px;
			text-decoration: none;
			font-size: 15pt;
			color: white;
			font-weight: bold;
			margin: 1750px 0 0 30px;
		}
		a.atop:hover {
			background-color: #FF8040
		}